.favListName {
  width: 436px;
  border: none;
  outline: none;
  color: black;
  font-size: 30px;
  text-align: center;
  background-color: aqua;
  border-radius: 30px 30px 0px 0px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.favListName::placeholder {
  color: black;
}
.favListName:hover {
  background-color: teal;
}
.favListName:hover::placeholder {
  color: white;
}

.btnSave, .link {
  border: 1px;
  color: white;
  font-size: 24px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  background-color: teal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.btnSave {
  margin: 5% 42%;
  padding: 5px 10px;
}
.btnSave:hover {
  color: white;
  cursor: pointer;
  background-color: orange;
}

.link {
  position: absolute;
  top: 60%;
  left: 71%;
  padding: 5px 10px;
}

.link:hover {
  color: black;
  cursor: pointer;
  background-color: #F0D70F;
}

.favList {
  padding: 5px;
}

.favListItem {
  display: flex;
  color: black;
  font-size: 20px;
  flex-wrap: nowrap;
  font-style: italic;
  flex-direction: row;
  margin: 7px 0px 0px 10px;
  justify-content: space-between;
}

.delBtn {
  border: none;
  outline: none;
  color: white;
  padding: 5px 10px;
  width: fit-content;
  border-radius: 30px;
  margin: 0px 15px 0px 10px;
  background-color: #d00000;
}
.delBtn:hover {
  background-color: #9d0208;
}
