.input, .button {
    height: 40px;
    border: none;
    outline: none;
    margin-top: 8%;
    font-size: 24px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.input {
    width: 350px;
    padding: 0px 20px;
}
.button {
    width: 100px;
    cursor: pointer;
    background-color: #F0D70F;
}
.button:disabled {
    color: white;
    cursor: not-allowed;
    background-color: teal;
}
.button:hover {
    color: white;
    background-color: teal;
}